.wtsfc-settings .loading-icon {
    padding-left: 5px;
    width: 25px;
}
.wtsfc-settings em.description {
    display: block;
    margin-top: 5px;
}
.wtsfc-settings em.interests-description {
    margin-top: 15px;
}